body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
}

.buttons {
  text-align: center;
  margin-bottom: 15px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 14px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  min-width: 900px;
  border-collapse: collapse;
  margin: 0 auto;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

input[type="time"],
input[type="date"] {
  width: 100%;
  padding: 4px;
}

.total {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

h3{
  text-align: center;
}



